.gridImage-cont{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,250px);
    padding:2%;
    gap: 1rem;
    
}
.img-3{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.img-4{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
@media screen and (max-width:600px){
    .gridImage-cont{
        grid-template-rows: repeat(3,50px);
        padding-top: 20%;
    }
}
@media screen and (max-width:900px){
    .gridImage-cont{
        grid-template-rows: repeat(3,100px);
        padding-top: 20%;
    }
}